@model ExchangeRatesManager.Models.UserExchangeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserExchangeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsdSaleRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsdSaleRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsdBuyingRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsdBuyingRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EurSaleRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EurSaleRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EurBuyingRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EurBuyingRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RubSaleRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RubSaleRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RubBuyingRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RubBuyingRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExchangeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
